@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --text: #808080 ;
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: var(--text);
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;


    --background: 0 0% 100%;
    --foreground: 0 0% 6%;
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: hsl(var(--background));
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6%;

    --primary: 157 92% 81%;
    --primary-foreground: 0 0% 6%;
    --primary-50: #e7fef5;
    --primary-100: #cefdeb;
    --primary-200: #9dfbd7;
    --primary-300: #6cf9c3;
    --primary-400: #3bf7af;
    --primary-500: hsl(var(--primary));
    --primary-600: #08c47c;
    --primary-700: #06935d;
    --primary-800: #04623e;
    --primary-900: #02311f;
    --primary-950: #01180f;

    --secondary: 156 80% 20%;
    --secondary-foreground: 0 0% 100%;
    --secondary-50: #e8fcf4;
    --secondary-100: #d1faea;
    --secondary-200: #a3f5d4;
    --secondary-300: #75f0bf;
    --secondary-400: #47eba9;
    --secondary-500: hsl(var(--secondary));
    --secondary-600: #14b876;
    --secondary-700: #0f8a59;
    --secondary-800: #0a5c3b;
    --secondary-900: #052e1e;
    --secondary-950: #03170f;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 25 92% 41%;
    --accent-foreground: 0 0% 6%;
    --accent-50: #fef0e7;
    --accent-100: #fde2ce;
    --accent-200: #fbc49d;
    --accent-300: #f9a76c;
    --accent-400: #f7893b;
    --accent-500: hsl(var(--accent));
    --accent-600: #c45608;
    --accent-700: #934106;
    --accent-800: #622b04;
    --accent-900: #311602;
    --accent-950: #180b01;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 6%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 25 92% 40%;
    --radius: 0.5rem;
  }

  .dark {

    --text: #808080;
    --text-50: #0d0d0d;
    --text-100: #1a1a1a;
    --text-200: #333333;
    --text-300: #4d4d4d;
    --text-400: #666666;
    --text-500: var(--text);
    --text-600: #999999;
    --text-700: #b3b3b3;
    --text-800: #cccccc;
    --text-900: #e6e6e6;
    --text-950: #f2f2f2;

    --background: 0 0% 0%;
    --foreground: 0 0% 94%;
    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: hsl(var(--background));
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 94%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 94%;

    --primary: 157 92% 19%;
    --primary-foreground: 0 0% 94%;
    --primary-50: #01180f;
    --primary-100: #02311f;
    --primary-200: #04623e;
    --primary-300: #06935d;
    --primary-400: #08c47c;
    --primary-500: hsl(var(--primary));
    --primary-600: #3bf7af;
    --primary-700: #6cf9c3;
    --primary-800: #9dfbd7;
    --primary-900: #cefdeb;
    --primary-950: #e7fef5;

    --secondary: 156 80% 80%;
    --secondary-foreground: 0 0% 0%;
    --secondary-50: #03170f;
    --secondary-100: #052e1e;
    --secondary-200: #0a5c3b;
    --secondary-300: #0f8a59;
    --secondary-400: #14b876;
    --secondary-500: hsl(var(--secondary));
    --secondary-600: #47eba9;
    --secondary-700: #75f0bf;
    --secondary-800: #a3f5d4;
    --secondary-900: #d1faea;
    --secondary-950: #e8fcf4;

    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 94%;

    --accent: 25 92% 59%;
    --accent-foreground: 0 0% 0%;
    --accent-50: #180b01;
    --accent-100: #311602;
    --accent-200: #622b04;
    --accent-300: #934106;
    --accent-400: #c45608;
    --accent-500: hsl(var(--accent));
    --accent-600: #f7893b;
    --accent-700: #f9a76c;
    --accent-800: #fbc49d;
    --accent-900: #fde2ce;
    --accent-950: #fef0e7;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 25 92% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  button,
  input,
  textarea,
  label {
    @apply subpixel-antialiased;
  }
}


.header-fixed {
  @apply fixed w-full top-0 bg-[rgba(0,_0,_0,_0.3)] z-50 shadow-xl drop-shadow-xl backdrop-filter backdrop-blur-md h-auto py-2;
}

.header-fixed+main {
  @apply pt-20;
}

.text-balanced {
  text-wrap: balance;
}

.chat-article {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-gap: 0.5rem;
  container-name: article;

}

body {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, var(--accent-200) 1px, transparent 1px), 
    linear-gradient(to bottom, var(--accent-100) 1px, transparent 1px),
}

.dark body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: 
    radial-gradient(circle at top, rgba(255,255,255,0.01), black 70% );
    z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: 
    radial-gradient(circle at top, rgba(243, 148, 40, 0.082), white 70% );
    z-index: -1;
}



.number-input1 {
  font-family: inherit;
  font-size: inherit !important;
}

.text-in {
  display: inline-grid;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-family: inherit;
  font-size: inherit;
}

.text-in::after {
  content: attr(data-value) "  ";
  visibility: hidden;
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  height: 0;
}

.customBounce {
  animation: customBounce 0.3s infinite;
}

@keyframes customBounce {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }

}

.filter-glass {
  backdrop-filter: blur(3px);
}

.text-gradient-p-to-s {
  background: linear-gradient(to right, var(--primary-500), var(--secondary-500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-s-to-p {
  background: linear-gradient(to right, var(--secondary-500), var(--primary-500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-p-to-a {
  background: linear-gradient(to right, var(--primary-500), var(--accent-500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-a-to-p {
  background: linear-gradient(to right, var(--accent-500), var(--primary-500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.border-pulse{
  position: relative;
}

.border-pulse::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--accent-500);
  border-radius: 0.5rem;
  animation: borderPulse 3s infinite;
}

@keyframes borderPulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  45%,100% {
    transform: scale(1.1,1.5);
    opacity: 0;
  }
}